doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      img(src="/images/header.jpg")
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/") Temple
          li 
            a(href="/") Events
          li 
            a(href="/") Teachings
          li 
            a(href="/") Donations & Services
          li 
            a(href="/") SVBF Publications
          li 
            a(href="/") Photos/Videos
          li 
            a(href="/contact") Contact Us
    section#wrapper
      block content
      footer 
        p
        |Sringeri Vidya Bharati Foundation, USA. All rights reserved © 2014 <br />
        |May the Grace of Sharadamba and blessings of the Acharya be with you all ! <br />
        |SRI SHARADA TEMPLE : 327, Cays Rd, Stroudsburg, PA 18360 - USA| Ph:(570) 629-7881 / 1-800-45 HINDU <br />
        |REGISTERED OFFICE : 5 Yates Drive, East Brunswick, NJ 08816 Ph:(732) 238-1119 | Fax: (732) 238 2249 <br />
        |Questions or Comments about this website? Email the Web Master <br />
        |Click here to Read Disclaimer
